body{
    font-family: 'Poppins', sans-serif;
}
/* Header background */
.header-bg{
    background-color: rgb(38,70,83);
}
.Purchase-btn{
    background-color: rgb(231,111,81);
}
/* Happy Clients section */
.happy-client-text, .icon-color{
    color: rgb(231,111,81);
}