body{
    font-family: 'Poppins', sans-serif;
}
/* Header background */
.header-bg{
    background-color: rgb(38,70,83);
}
.Purchase-btn{
    background-color: rgb(231,111,81);
}

/* Fetured Bikes section */
.fetured-img{
    width: 288px;
    height: 243px;
}
.gray-scale{
    filter: grayscale(80%);
}
/* Happy Clients section */
.happy-client-text, .icon-color{
    color: rgb(231,111,81);
}
/* Frequently Asked Questions part */
.img-size{
    height: 500px;
    width: 100%;
}
.font-color{
    color: rgb(56, 54, 54);
}
/* Bonus 1 section css */
.bonus1-img{
    width: 130px;
    height: 130px;
}

/* Bonus 2 section css */
.bonus2-icon{
    font-size: 41px;
}
.facebook{
    color: #3B579D;
}
.twitter{
    color: #1DA1F2;
}
.google{
    color: #f3ad5d ;
}
.search{
    width: 400px;
}
.bomus2-img{
    width: 155px;
    height: 33px;
}
.footer-font-soze{
    font-size: 10px;
}